# DS_Store on mac
**/.DS_Store

# Quarto specific files
docs/*
**/.quarto/
**/site_libs/
**/_site/*

# R files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron

# Latex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.nav
*.snm
*.listing
*.vrb
